@{
    ViewData["Title"] = "ثبت سفارش";
}
<form dir="rtl">
    <div class="alert" dir="rtl">
        <p>
            <b dir="ltr">ثبت سفارش</b>
            <br />
            سفارش شما با موفقیت ثبت شد و می توانید در لیست سفارشات آن را مشاهده نمایید
            <br />
            <a asp-action="Index" asp-controller="Order" class="btn">مشاهده سفارشات</a>
        </p>
    </div>

</form>
  